body::before {
  content: "";
  background: url();
}
header {
  margin-top: 2vw;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header .logo img {
  width: 5vw;
}
header .nav_menu {
  display: flex;
  gap: 6rem;
  position: relative;
  top: -3px;
}
/* header end */

/* container_wrap */
.container_wrap {
  padding-top: 3vw;
  padding-bottom: 20vw;
}
.container_wrap .main_intro {
  width: 100%;
}
.container_wrap .main_intro .bx-wrapper {
  text-align: center;
}

.container_wrap .main_intro .text_rol li {
  color: var(--primary);
  font-weight: 600;
  font-size: 1.8vw;
}
.container_wrap h1 {
  text-align: center;
  line-height: 9vw;
  letter-spacing: 0.5rem;
}
.container_wrap .email_photo_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46vw;
  padding-top: 5rem;
}

.container_wrap .email_photo_btn .photo {
  width: 34vw;
  height: 47vw;
  background-color: rgb(0, 0, 0);
  border-radius: 500px;
  position: absolute;
  top: 21vw;
  left: 50%;
  transform: translateX(-50%);
}
.container_wrap .email_photo_btn .btn_wrap {
  display: flex;
  gap: 3rem;
}
.container_wrap .email_photo_btn .btn_wrap a {
  padding: 1.2vw 2.5vw;
  border: 2px solid #000;
  border-radius: 60px;
}
.container_wrap .email_photo_btn .btn_wrap .btn:hover a {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
}
.container_wrap .main_about {
  padding-top: 20%;
  padding-left: 5%;
  position: relative;
}
.container_wrap .main_about p {
  font-size: 1.2vw;
  line-height: 1.6;
}
.container_wrap .main_about img {
  width: 38vw;
  transform: translateX(-130%);
}
.container_wrap .main_about .text_wrap {
  position: absolute;
  top: 36%;
  left: 50vw;
  transform: translateX(160%);
}
.container_wrap .main_about .text_wrap .textbox2 {
  padding-top: 8vw;
}

.container_wrap .text_rol_wrap {
  width: 100%;
  padding-top: 6.2vw;
}

.container_wrap .text_rol_wrap .text_rol_loop {
  position: relative;
  left: 0;
  display: flex;
  width: 100%;
  text-align: center;
}
.container_wrap .text_rol_wrap .text_rol_loop .gray {
  color: var(--gray2);
  text-align: center;
  width: 100%;
  margin-right: 50px;
}
.container_wrap .text_area {
  padding-top: 3.8vw;
}
.container_wrap .text_area .h3 {
  line-height: 1.55;
}

.container_wrap .text_rol_wrap.works {
  padding-top: 27.5vw;
}
.container_wrap .text_rol_wrap.works .text_rol_loop .gray {
  margin-right: 70px;
}
.project {
  padding-bottom: 22vw;
}
.pro_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 5rem;
}

.pro_wrap li {
  width: 38vw;
  position: relative;
  padding-bottom: 1.8rem;
  padding-top: 2.6vw;
}
.pro_wrap li:nth-child(3),
.pro_wrap li:nth-child(4) {
  padding-top: 0rem;
}

.pro_wrap li .img {
  display: block;
  width: 100%;
  height: 40vw;
  border-radius: 3vw;
  cursor: pointer;
  margin-bottom: 10px;
}

.pro_wrap li:nth-child(1) .img {
  background: #fff url(../img/project/pro1.png) no-repeat top center/cover;
  border: 2px solid var(--primary);
}
.pro_wrap li:nth-child(2) .img {
  background: #fff url(../img/project/pro2.png) no-repeat top center/cover;
  border: 2px solid var(--primary);
}
.pro_wrap li:nth-child(3) .img {
  background: #fff url(../img/project/pro3.png) no-repeat top center/cover;
  border: 2px solid var(--primary);
}
.pro_wrap li:nth-child(4) .img {
  background: url() no-repeat center center/cover;
  border: 2px solid var(--primary);
}
.pro_wrap li .img:hover {
  transition: all 0.5s;
  background: #0400ff;
}
.pro_wrap li .img:hover .btn_wrap .btn a {
  opacity: 1;
}
.pro_wrap li .btn_wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20vw;
}
.pro_wrap li .btn a {
  padding: 1.2vw 2.5vw;
  border: 2px solid #ffffff;
  border-radius: 60px;
  color: #fff;
  opacity: 0;
}
.pro_wrap li .btn a:hover {
  border: 2px solid #ffffff;
  background: #fff !important;
  color: var(--primary);
}
.pro_wrap li .text_wrap p {
  font-size: 1.2vw;
  line-height: 2vw;
}
.more_btn_wrap {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}
.more_btn a {
  display: inline-block;
  padding: 1.2vw 2.5vw;
  border: 2px solid #000000;
  border-radius: 60px;
  font-weight: 700;
}
.more_btn a:hover {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
}

.work {
  height: 100%;
  padding-bottom: 21vw;
}
.work h2 {
  padding-bottom: 2vw;
}
.work_ex {
  position: relative;
  height: 17.2vw;
  transform: translateX(-120%);
}
.work_ex2 {
  position: relative;
  height: 16vw;
  transform: translateX(120%);
}
.work_ex h2 {
  padding-bottom: 2.6%;
}

.work_ex_box .box {
  width: 100%;
  height: 16vw;
  position: absolute;
  padding: 3vw;
  border-radius: 5vw;
  border: 2px solid #0600ff;
  background: linear-gradient(90deg, #d8e7ff 0%, #fafdff 100%);
}
.work_ex_box .box:nth-child(1) {
  width: 100%;
  z-index: 1;
}
.work_ex_box:hover .box:nth-child(1) {
  transition: 0.3s;
  width: 50%;
  z-index: 1;
  background: var(--primary);
}
.work_ex_box:hover .box:nth-child(1) .box_textL {
  color: #fff;
}

.work_ex_box .box .box_textL {
  padding-left: 1.2vw;
}
.work_ex_box .box .box_textL span {
  font-size: 1.2vw;
}
.work_ex_box .box:nth-child(2) .box_textR {
  position: absolute;
  right: 18rem;
  padding-top: 3.2vw;
  font-size: 1.2vw;
}
.edu_wrap {
  padding-bottom: 21.5vw;
}
.edu_wrap h2 {
  padding-bottom: 2vw;
}
.edu_wrap .edu_box {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.edu_wrap .edu_box .box {
  width: 40vw;
  height: 19.5vw;
  background: linear-gradient(90deg, #d8e7ff 0%, #fafdff 100%);
  border: 2px solid var(--primary);
  border-radius: 5vw;
}
.edu_wrap .edu_box .b_left {
  transform: translateX(-50vw);
  transition: 0.5;
}
.edu_wrap .edu_box .b_right {
  transform: translateX(50vw);
  transition: 0.5;
}

.edu_wrap .edu_box .box .box_text {
  padding: 4.7vw 4.2vw;
}
.edu_wrap .edu_box .box .box_text span {
  font-size: 1.2vw;
}

.tool_wrap ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
}

.tool_bar {
  background: #d8e7ff;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 5vw;
  width: 38vw;
}
.tool_bar p {
  position: absolute;
  text-indent: 2vw;
  font-weight: 700;
  color: #fff;
}
.tool_bar span {
  margin-left: 5px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  right: 3vw;
  mix-blend-mode: difference;
}
.tool_bar .bar {
  border-radius: 100px;
  background: var(--primary);
  height: 5vw;
  width: 0;
}
